<div class="container-fluid">
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Video App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

  <div class="row">
    <div class="col text-center">
      <div id="video-wrapper">
        <video *ngIf="hasRoute('/expert')&&!(isCallStarted$ | async)" #remoteVideo id="remote-video" autoplay playsinline poster="./assets/video-placeholder.jpg"></video>
        <video *ngIf="hasRoute('/user')" #localVideo id="remote-video"  [muted]=true poster="./assets/video-placeholder.jpg" autoplay playsinline></video>
        <video *ngIf="hasRoute('/expert')&&(isCallStarted$ | async)" #remoteVideo id="remote-video" autoplay playsinline poster="./assets/video-placeholder.jpg"></video>
      </div>
    </div>
  </div>
  <div class="row">
 <!-- <p> -->
  <mat-toolbar class="toolbar">
    <mat-toolbar-row class="bottom-toolbar">
    <div class="toolbardiv">
       
    <button *ngIf="hasRoute('/expert')&&!(isCallStarted$ | async)" mat-raised-button class="m-2" [disabled]="isCallStarted$ | async" (click)="showModal(false)">
      <mat-icon a-hidden="false" aria-label="Example home icon">call</mat-icon>
    </button>
    <button mat-raised-button color="warn" class="m-2" *ngIf="(isCallStarted$ | async)" (click)="endCall()">
      <mat-icon a-hidden="false" aria-label="Example home icon">call_end</mat-icon>
    </button>
    <button *ngIf="hasRoute('/user')&&!(isCallStarted$ | async)" mat-raised-button class="m-2" [disabled]="(isCallStarted$ | async)&&localpeerid" (click)="showModal(true)">
      <mat-icon a-hidden="false" aria-label="Example home icon">call</mat-icon>
    </button>
    <button mat-raised-button class="m-2" *ngIf="hasRoute('/expert')">
      <mat-icon a-hidden="false" aria-label="Example home icon">edit</mat-icon>
      </button>
      <button mat-raised-button class="m-2" *ngIf="hasRoute('/expert')">
      <mat-icon a-hidden="false" aria-label="Example home icon">crop_square</mat-icon>
      </button>
            <button mat-raised-button class="m-2" *ngIf="hasRoute('/expert')">
      <i class="bi bi-circle" style="font-size: 1.5rem;"></i>
      </button>
    <button mat-raised-button class="m-2" (click)="videoToggle()" *ngIf="hasRoute('/user')">
      <mat-icon *ngIf="!videostatus"a-hidden="false" aria-label="Example home icon">videocam_off</mat-icon>
      <mat-icon *ngIf="videostatus"a-hidden="false" aria-label="Example home icon">videocam</mat-icon>
    </button>
    <button mat-raised-button class="m-2" (click)="audioToggle()">
      <mat-icon *ngIf="!audiostatus"a-hidden="false" aria-label="Example home icon">mic_off</mat-icon>
      <mat-icon *ngIf="audiostatus"a-hidden="false" aria-label="Example home icon">mic_none</mat-icon>
    </button>
        <button mat-raised-button class="m-2" (click)="cameraToggle()" [disabled]="!videostatus" *ngIf="hasRoute('/user')">
      <mat-icon a-hidden="false" aria-label="Example home icon">switch_camera</mat-icon>
      <!-- <mat-icon *ngIf="camerastatus"a-hidden="false" aria-label="Example home icon">camera_rear</mat-icon> -->
    </button>
    </div>
    
</mat-toolbar-row>
  </mat-toolbar>
<!-- </p>     -->
  </div>
</div>
