#video-wrapper {
	text-align: center;
    // background-color: #343434;
	border-radius: 4px;
}
.p-2{
	justify-content: space-evenly;
	margin:0 18px
}
#remote-video {
	max-width: 100%;
	max-height: 90vh;
	height: 100vh;
	border-radius: 4px;
}
.videoperview{
	max-width: 100%;
	max-height: 90vh;
	height: 100vh;
	border-radius: 4px;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 10rem;
}
.videoperview .mat-icon{color: #fff;font-size: xxx-large;}

.circle{
	border: 3px solid;
	border-radius: 50%;
	height: 25px;
}
#local-video {
    // z-index: 1;
    // position: absolute;
    // right: 1.5rem;
	// bottom: 1.5rem;
	// width: 10vw;
	// height: 10vw;
	// max-width: 10rem;
	// max-height: 10rem;
	// border: 3px solid white;
	// border-radius: 4px;
}
@media only screen and (max-width: 600px) {
#remote-video {
	max-height: 60vh;
}
.p-2{
	justify-content: space-between;
}	
}