.shapeCanvas{
   height:84vh;
   width: 100%;
}
.canvaspointer{
	cursor: crosshair;
}
.shape{
  fill-opacity:0;
  stroke:black;
  stroke-width:1;
}
#video-wrapper {
	text-align: center;
    display: flex;
	border-radius: 4px;
}
.p-2{
	justify-content: space-evenly;
	margin:0 18px
}
#remote-video {
	flex: 1 1;
	max-width: 100%;
	max-height: 84vh;
	height: 100vh;
	object-fit: fill;
}
.videoperview{
	max-width: 100%;
	max-height: 90vh;
	height: 100vh;
	border-radius: 4px;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 10rem;
}
.videoperview .mat-icon{color: #fff;font-size: xxx-large;}

.circle{
	border: 3px solid;
	border-radius: 50%;
	height: 25px;
}
.toolbar{
	position: fixed;
	bottom: 0;
}
.bottom-toolbar{display: flex;justify-content: center;}
.bottom-toolbar .toolbardiv{border-radius: 5px;}
@media only screen and (max-width: 400px) {
	.mat-raised-button{
	margin: 0.1rem!important;}	
}
@media only screen and (max-width: 600px) {
.mat-raised-button{
	min-width: 50px;
	padding: 1px 6px;
}
#remote-video{object-fit: cover;}
}
.example-spacer {
  flex: 1 1 auto;
}
.seperator{
	border-left: 1px solid darkgray;
	padding-bottom: 8px;
}
.hoverclass:hover{
cursor: pointer;
}